WebServiceBanqueJAXWS/src/BanqueWS.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. -->
<definitions targetNamespace="http://webservice/" name="BanqueWS" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://webservice/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://webservice/" schemaLocation="BanqueWS_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="test">
    <part name="parameters" element="tns:test"/>
  </message>
  <message name="testResponse">
    <part name="parameters" element="tns:testResponse"/>
  </message>
  <message name="conversionEuroFcfa">
    <part name="parameters" element="tns:conversionEuroFcfa"/>
  </message>
  <message name="conversionEuroFcfaResponse">
    <part name="parameters" element="tns:conversionEuroFcfaResponse"/>
  </message>
  <message name="listeAllComptes">
    <part name="parameters" element="tns:listeAllComptes"/>
  </message>
  <message name="listeAllComptesResponse">
    <part name="parameters" element="tns:listeAllComptesResponse"/>
  </message>
  <message name="getCompte">
    <part name="parameters" element="tns:getCompte"/>
  </message>
  <message name="getCompteResponse">
    <part name="parameters" element="tns:getCompteResponse"/>
  </message>
  <portType name="BanqueService">
    <operation name="test">
      <input wsam:Action="http://webservice/BanqueService/testRequest" message="tns:test"/>
      <output wsam:Action="http://webservice/BanqueService/testResponse" message="tns:testResponse"/>
    </operation>
    <operation name="conversionEuroFcfa">
      <input wsam:Action="http://webservice/BanqueService/conversionEuroFcfaRequest" message="tns:conversionEuroFcfa"/>
      <output wsam:Action="http://webservice/BanqueService/conversionEuroFcfaResponse" message="tns:conversionEuroFcfaResponse"/>
    </operation>
    <operation name="listeAllComptes">
      <input wsam:Action="http://webservice/BanqueService/listeAllComptesRequest" message="tns:listeAllComptes"/>
      <output wsam:Action="http://webservice/BanqueService/listeAllComptesResponse" message="tns:listeAllComptesResponse"/>
    </operation>
    <operation name="getCompte">
      <input wsam:Action="http://webservice/BanqueService/getCompteRequest" message="tns:getCompte"/>
      <output wsam:Action="http://webservice/BanqueService/getCompteResponse" message="tns:getCompteResponse"/>
    </operation>
  </portType>
  <binding name="BanqueServicePortBinding" type="tns:BanqueService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="test">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="conversionEuroFcfa">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="listeAllComptes">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getCompte">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="BanqueWS">
    <port name="BanqueServicePort" binding="tns:BanqueServicePortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

